[Unit]
Description=Energy Collector
After=network.target
Wants=network.target

[Service]
Type=simple
User=tom
Group=logger
WorkingDirectory=/opt/logger/collectors
ExecStart=/opt/logger/collectors/.venv/bin/python /opt/logger/collectors/collect_energy.py
Restart=always
RestartSec=5
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target

